<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Trang User</h1>
<a th:href="@{/}">Trang Home</a>
<p th:text="${message}"></p>
<p>Your session ID: <span th:text="${sessionId}"></span></p>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Đăng xuất</button>
</form>
</body>
</html>